body{
    overflow-x: hidden;
}

.h1{
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    padding-top: 20px;
}

p{
    justify-content: center;
    text-align: center;
}

/*********************** CARD *******************/
.card-deck {
    margin-top: 35px;
    padding: 0px 40px 0px 40px;
}

/**************** CARD BODY ***********************/
.card{
    box-shadow: 5px 5px 15px  black;
    border: none;
}


.card input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(36, 36, 36);
    color: white;
}

.card input:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

.card .card-body .star i{
    color: rgb(243, 181, 25);
}

